#editMode {
    float: right;
    /* padding-top: 10px;
    margin-right: 10px; */
}

#editMode:active {
    float: right;
    padding-top: 3px;
    /* margin-right: 10px; */
    opacity: .80;
}
.profile {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: 100%;
    position: relative;
    flex-wrap: wrap;
    padding-top: -150px;
}

.profileCard {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
}

.submitProfChanges:active {
    box-shadow: 0 5px rgb(104, 104, 104);
    transform: translateY(4px);
    opacity: .80;
}

.deleteAccountButton:active {
    box-shadow: 0 5px rgb(104, 104, 104);
    transform: translateY(4px);
    opacity: .80;
}